/* BUTTONS */
.waves-effect {
    .waves-gold {
        .waves-ripple {
            background: $soft-white;
        }
    }
}
.btn {
    background: transparent;
    color: $primary-color;
    border: 2px solid $soft-white;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    &:hover {
        color: white;
        background: $primary-color;
        border: none;
        box-shadow: none;
    }
}