/* FONTS */
$Great_Vibes: 'Great Vibes';
$Playball: 'Playball';

//@font-face {
//    font-family: 'Great Vibes';
//    font-style: normal;
//    font-weight: normal;
//    src: url(../fonts/great_vibes/GreatVibes-Regular.otf) format('otf');
//}
//@font-face {
//    font-family: 'Great Vibes';
//    font-style: normal;
//    font-weight: 400;
//    src: local('Great Vibes'), url(https://fonts.gstatic.com/s/greatvibes/v5/6q1c0ofG6NKsEhAc2eh-3Y4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
//}

//@font-face {
//    font-family: 'Playball';
//    font-style: normal;
//    font-weight: normal;
//    src: url(../fonts/playball/Playball-Regular.ttf) format('ttf');
//}
//@font-face {
//    font-family: 'Playball';
//    font-style: normal;
//    font-weight: 400;
//    src: local('Playball'), local('Playball-Regular'), url(https://fonts.gstatic.com/s/playball/v7/sSjR6AJRrIl2FxjhncYng_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
//}