@import "colors";
@import "fonts";
* {
    -webkit-flex: 1; // Safari 6.1+
    -ms-flex: 1; // IE 10
    flex: 1;
}
body {
    background: $soft-white;
}
@import "buttons";
@import "nav";
@import "sections";
@import "parallax";
@import "menu";
@import "media-queries-index";
