/* FONTS */
* {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

body {
  background: #F6F4F1; }

/* BUTTONS */
.waves-effect .waves-gold .waves-ripple {
  background: #F6F4F1; }

.btn {
  background: transparent;
  color: #C1AA8C;
  border: 2px solid #F6F4F1;
  border-radius: 0;
  box-shadow: none;
  font-weight: bold; }
  .btn:hover {
    color: white;
    background: #C1AA8C;
    border: none;
    box-shadow: none; }

/* NAV */
header .navbar-fixed nav {
  box-shadow: none; }
  header .navbar-fixed nav .nav-wrapper {
    margin: 0; }
    header .navbar-fixed nav .nav-wrapper .brand-logo {
      height: 50px;
      margin-left: 20px;
      margin-top: 10px; }
      header .navbar-fixed nav .nav-wrapper .brand-logo img {
        margin: auto;
        display: block;
        height: 100%; }
    header .navbar-fixed nav .nav-wrapper ul .dropdown-content {
      background: #444444;
      width: auto;
      position: absolute;
      display: none;
      opacity: 1; }
    header .navbar-fixed nav .nav-wrapper .side-nav {
      background: #F6F4F1; }

/* SECTIONS */
#section-one .row .container {
  top: -50px; }

#section-two .row .container {
  top: -150px; }

#section-one, #section-two {
  width: 100%; }
  #section-one .row, #section-two .row {
    margin: 0; }
    #section-one .row .container, #section-two .row .container {
      position: relative; }
      #section-one .row .container .fth-card-body, #section-two .row .container .fth-card-body {
        width: 100%;
        height: 600px; }
        #section-one .row .container .fth-card-body .row, #section-two .row .container .fth-card-body .row {
          margin: 0;
          height: 50%;
          width: 100%; }
          #section-one .row .container .fth-card-body .row #section_one-item-one, #section-one .row .container .fth-card-body .row #section_one-item-two,
          #section-one .row .container .fth-card-body .row #section_one-item-three, #section-one .row .container .fth-card-body .row #section_one-item-four,
          #section-one .row .container .fth-card-body .row #section_two-item-one, #section-one .row .container .fth-card-body .row #section_two-item-two,
          #section-one .row .container .fth-card-body .row #section_two-item-three, #section-one .row .container .fth-card-body .row #section_two-item-four,
          #section-one .row .container .fth-card-body .row #section_two-item-five, #section-one .row .container .fth-card-body .row #section_two-item-six,
          #section-one .row .container .fth-card-body .row #section_two-item-seven, #section-one .row .container .fth-card-body .row #section_two-item-eight, #section-two .row .container .fth-card-body .row #section_one-item-one, #section-two .row .container .fth-card-body .row #section_one-item-two,
          #section-two .row .container .fth-card-body .row #section_one-item-three, #section-two .row .container .fth-card-body .row #section_one-item-four,
          #section-two .row .container .fth-card-body .row #section_two-item-one, #section-two .row .container .fth-card-body .row #section_two-item-two,
          #section-two .row .container .fth-card-body .row #section_two-item-three, #section-two .row .container .fth-card-body .row #section_two-item-four,
          #section-two .row .container .fth-card-body .row #section_two-item-five, #section-two .row .container .fth-card-body .row #section_two-item-six,
          #section-two .row .container .fth-card-body .row #section_two-item-seven, #section-two .row .container .fth-card-body .row #section_two-item-eight {
            height: 100%; }
          #section-one .row .container .fth-card-body .row #section_one-item-one, #section-one .row .container .fth-card-body .row #section_one-item-four,
          #section-one .row .container .fth-card-body .row #section_two-item-one, #section-one .row .container .fth-card-body .row #section_two-item-three,
          #section-one .row .container .fth-card-body .row #section_two-item-six, #section-one .row .container .fth-card-body .row #section_two-item-eight, #section-two .row .container .fth-card-body .row #section_one-item-one, #section-two .row .container .fth-card-body .row #section_one-item-four,
          #section-two .row .container .fth-card-body .row #section_two-item-one, #section-two .row .container .fth-card-body .row #section_two-item-three,
          #section-two .row .container .fth-card-body .row #section_two-item-six, #section-two .row .container .fth-card-body .row #section_two-item-eight {
            padding: 10px;
            padding-top: 30px;
            background: white;
            text-align: center;
            position: relative; }
            #section-one .row .container .fth-card-body .row #section_one-item-one h5, #section-one .row .container .fth-card-body .row #section_one-item-four h5,
            #section-one .row .container .fth-card-body .row #section_two-item-one h5, #section-one .row .container .fth-card-body .row #section_two-item-three h5,
            #section-one .row .container .fth-card-body .row #section_two-item-six h5, #section-one .row .container .fth-card-body .row #section_two-item-eight h5, #section-two .row .container .fth-card-body .row #section_one-item-one h5, #section-two .row .container .fth-card-body .row #section_one-item-four h5,
            #section-two .row .container .fth-card-body .row #section_two-item-one h5, #section-two .row .container .fth-card-body .row #section_two-item-three h5,
            #section-two .row .container .fth-card-body .row #section_two-item-six h5, #section-two .row .container .fth-card-body .row #section_two-item-eight h5 {
              font-weight: bold; }
            #section-one .row .container .fth-card-body .row #section_one-item-one span, #section-one .row .container .fth-card-body .row #section_one-item-four span,
            #section-one .row .container .fth-card-body .row #section_two-item-one span, #section-one .row .container .fth-card-body .row #section_two-item-three span,
            #section-one .row .container .fth-card-body .row #section_two-item-six span, #section-one .row .container .fth-card-body .row #section_two-item-eight span, #section-two .row .container .fth-card-body .row #section_one-item-one span, #section-two .row .container .fth-card-body .row #section_one-item-four span,
            #section-two .row .container .fth-card-body .row #section_two-item-one span, #section-two .row .container .fth-card-body .row #section_two-item-three span,
            #section-two .row .container .fth-card-body .row #section_two-item-six span, #section-two .row .container .fth-card-body .row #section_two-item-eight span {
              position: absolute;
              transform: translate3d(-50%, 0px, 0px);
              bottom: 20px;
              font-size: 25px;
              font-weight: bold;
              color: #C1AA8C; }
          #section-one .row .container .fth-card-body .row #section_one-item-one, #section-one .row .container .fth-card-body .row #section_one-item-four, #section-two .row .container .fth-card-body .row #section_one-item-one, #section-two .row .container .fth-card-body .row #section_one-item-four {
            padding: 20px; }
            #section-one .row .container .fth-card-body .row #section_one-item-one h2, #section-one .row .container .fth-card-body .row #section_one-item-one h3, #section-one .row .container .fth-card-body .row #section_one-item-four h2, #section-one .row .container .fth-card-body .row #section_one-item-four h3, #section-two .row .container .fth-card-body .row #section_one-item-one h2, #section-two .row .container .fth-card-body .row #section_one-item-one h3, #section-two .row .container .fth-card-body .row #section_one-item-four h2, #section-two .row .container .fth-card-body .row #section_one-item-four h3 {
              font-family: "Great Vibes"; }
            #section-one .row .container .fth-card-body .row #section_one-item-one a, #section-one .row .container .fth-card-body .row #section_one-item-four a, #section-two .row .container .fth-card-body .row #section_one-item-one a, #section-two .row .container .fth-card-body .row #section_one-item-four a {
              margin-top: 25px; }
          #section-one .row .container .fth-card-body .row #section_one-item-three, #section-one .row .container .fth-card-body .row #section_one-item-two,
          #section-one .row .container .fth-card-body .row #section_two-item-two, #section-one .row .container .fth-card-body .row #section_two-item-four,
          #section-one .row .container .fth-card-body .row #section_two-item-five, #section-one .row .container .fth-card-body .row #section_two-item-seven, #section-two .row .container .fth-card-body .row #section_one-item-three, #section-two .row .container .fth-card-body .row #section_one-item-two,
          #section-two .row .container .fth-card-body .row #section_two-item-two, #section-two .row .container .fth-card-body .row #section_two-item-four,
          #section-two .row .container .fth-card-body .row #section_two-item-five, #section-two .row .container .fth-card-body .row #section_two-item-seven {
            padding: 0;
            background-size: cover;
            background-position: center center;
            overflow: hidden; }
          #section-one .row .container .fth-card-body .row #section_one-item-two, #section-two .row .container .fth-card-body .row #section_one-item-two {
            overflow: hidden;
            padding: 0; }
            #section-one .row .container .fth-card-body .row #section_one-item-two img, #section-two .row .container .fth-card-body .row #section_one-item-two img {
              max-width: 100%; }

/* PARALLAX */
#fth-parallax-one {
  width: 100%;
  position: relative;
  min-height: 1100px;
  line-height: 0;
  height: auto;
  margin-top: -90px; }
  #fth-parallax-one .fth-logo {
    position: absolute;
    margin: auto;
    width: 45%;
    bottom: 50%;
    left: 50%;
    transform: translate3d(-50%, 0px, 0px); }

#fth-parallax-two {
  top: -100px; }

#fth-parallax-three {
  top: -200px; }

#fth-parallax-two,
#fth-parallax-three {
  min-height: 800px;
  position: relative; }
  #fth-parallax-two .fth-parallax-title,
  #fth-parallax-three .fth-parallax-title {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate3d(-50%, 0px, 0px);
    color: #FFFFFF;
    font-weight: bold; }
    #fth-parallax-two .fth-parallax-title h1,
    #fth-parallax-three .fth-parallax-title h1 {
      text-align: center;
      font-size: 60px; }

/* MENU */
#menu-index {
  width: 100%;
  background: white;
  margin-top: -200px; }
  #menu-index .container .fth-menu-body {
    width: 100%; }
    #menu-index .container .fth-menu-body .row {
      margin: 0; }
      #menu-index .container .fth-menu-body .row .fth-menu-title {
        margin: 0;
        margin-top: 40px; }
        #menu-index .container .fth-menu-body .row .fth-menu-title .col h1 {
          font-family: "Great Vibes", sans-serif;
          font-size: 8rem; }
        #menu-index .container .fth-menu-body .row .fth-menu-title .fth-divider {
          position: relative;
          transform: translate3d(-50%, 0px, 0px);
          left: 50%;
          width: 10%;
          height: 4px;
          margin-bottom: 25px;
          background: #C1AA8C;
          border-radius: 2px; }
        #menu-index .container .fth-menu-body .row .fth-menu-title .col h4 {
          color: #CFCFCF;
          margin-bottom: 80px;
          text-transform: uppercase; }
      #menu-index .container .fth-menu-body .row .fth-item {
        margin-bottom: 80px; }
        #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content.fth-right {
          padding-right: 30px; }
        #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content.fth-left {
          padding-left: 30px; }
        #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content .fth-menu-items .col h5 {
          font-family: "Roboto", sans-serif;
          font-weight: bold;
          text-transform: uppercase; }
        #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content .fth-menu-items .col p {
          color: #9e9e9e; }
        #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content .fth-menu-items .col h1 {
          color: #C1AA8C;
          font-family: "Playball", sans-serif;
          font-size: 5.5rem; }

/* MEDIA QUERIES */
@media screen and (max-width: 2560px) {
  .parallax-container .parallax img {
    width: 100%; } }
@media screen and (max-width: 1440px) {
  .parallax-container .parallax img {
    width: auto; } }
@media screen and (max-width: 1024px) {
  /* LOGO */
  #fth-parallax-one .fth-logo {
    width: 55%;
    bottom: 55%; }

  /* MENU */
  #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content.fth-left {
    padding-left: 40px;
    padding-right: 0; }

  #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content.fth-right {
    padding-left: 0;
    padding-right: 40px; } }
@media screen and (max-width: 768px) {
  /* MENU */
  #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content.fth-left,
  #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content.fth-right {
    padding: 0; } }
@media screen and (max-width: 425px) {
  /* LOGO */
  #fth-parallax-one .fth-logo {
    width: 85%; }

  #section-one {
    height: auto; }
    #section-one .row .container .fth-card-body .row #section_one-item-one, #section-one .row .container .fth-card-body .row #section_one-item-four {
      height: auto; }

  #section-two {
    margin: 0;
    height: auto; }
    #section-two .row .container .fth-card-body .row #section_two-item-one, #section-two .row .container .fth-card-body .row #section_two-item-three,
    #section-two .row .container .fth-card-body .row #section_two-item-six, #section-two .row .container .fth-card-body .row #section_two-item-eight {
      height: auto; } }

/*# sourceMappingURL=fth-index.css.map */
