/* MEDIA QUERIES */
@media screen and (max-width: 2560px) {
    .parallax-container .parallax img {
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .parallax-container .parallax img {
        width: auto;
    }
}

@media screen and (max-width: 1024px) {
    /* LOGO */
    #fth-parallax-one .fth-logo {
        width: 55%;
        bottom: 55%;
    }
    /* MENU */
    #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content.fth-left {
        padding-left: 40px;
        padding-right: 0;
    }
    #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content.fth-right {
        padding-left: 0;
        padding-right: 40px;
    }
}

@media screen and (max-width: 768px) {
    /* MENU */
    #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content.fth-left,
    #menu-index .container .fth-menu-body .row .fth-item .fth-menu-content.fth-right {
        padding: 0;
    }

    //#section-two .row .container .fth-card-body {
    //    height: 700px;
    //    overflow: hidden;
    //}
}

@media screen and (max-width: 425px) {
    /* LOGO */
    #fth-parallax-one .fth-logo {
        width: 85%;
    }
    #section-one {
        height: auto;
        .row .container .fth-card-body .row {
            #section_one-item-one, #section_one-item-four {
                height: auto;
            }
        }
    }
    #section-two {
        margin: 0;
        height: auto;
        .row .container .fth-card-body .row {
            #section_two-item-one, #section_two-item-three,
            #section_two-item-six, #section_two-item-eight {
                height: auto;
            }
        }
    }
}
