/* MENU */
#menu-index {
    width: 100%;
    background: white;
    margin-top: -200px;
    .container {
        .fth-menu-body {
            width: 100%;

            .row {
                margin: 0;

                .fth-menu-title {
                    margin: 0;
                    margin-top: 40px;
                    .col h1 {
                        font-family: $Great_Vibes, sans-serif;
                        font-size: 8rem;
                    }
                    .fth-divider {
                        position: relative;
                        transform: translate3d(-50%, 0px, 0px);
                        left: 50%;
                        width: 10%;
                        height: 4px;
                        margin-bottom: 25px;
                        background: $primary-color;
                        border-radius: 2px;
                    }
                    .col h4 {
                        color: $gray;
                        margin-bottom: 80px;
                        text-transform: uppercase;
                    }
                }

                .fth-item {
                    margin-bottom: 80px;

                    .fth-menu-content {
                        &.fth-right {
                            padding-right: 30px;
                        }
                        &.fth-left {
                            padding-left: 30px;
                        }
                        .fth-menu-items {
                            .col h5 {
                                font-family: "Roboto", sans-serif;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                            .col p {
                                color: $darck-gray;
                            }
                            .col h1 {
                                color: $primary-color;
                                font-family: $Playball, sans-serif;
                                font-size: 5.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}