/* NAV */
header {
    .navbar-fixed {
        nav {
            box-shadow: none;

            .nav-wrapper {
                margin: 0;

                .brand-logo {
                    height: 50px;
                    margin-left: 20px;
                    margin-top: 10px;

                    img {
                        margin: auto;
                        display: block;
                        height: 100%;
                    }
                }
                ul {
                    .dropdown-content {
                        background: $second-black;
                        width: auto;
                        position: absolute;
                        display: none;
                        opacity: 1;
                    }
                }
                .side-nav {
                    background: $soft-white;
                }
            }
        }
    }
}
