/* PARALLAX */

#fth-parallax-one {
    width: 100%;
    position: relative;
    min-height: 1100px;
    line-height: 0;
    height: auto;
    margin-top: -90px;

    .fth-logo {
        position: absolute;
        margin: auto;
        width: 45%;
        bottom: 50%;
        left: 50%;
        transform: translate3d(-50%, 0px, 0px);
    }
}
#fth-parallax-two {
    top: -100px;
}
#fth-parallax-three {
    top: -200px;
}
#fth-parallax-two,
#fth-parallax-three {
    min-height: 800px;
    position: relative;

    .fth-parallax-title {
        position: absolute;
        bottom: 45%;
        left: 50%;
        transform: translate3d(-50%, 0px, 0px);
        color: #FFFFFF;
        font-weight: bold;

        h1 {
            text-align: center;
            font-size: 60px;
        }
    }
}


