/* SECTIONS */
#section-one .row .container {
    top: -50px;
}
#section-two .row .container {
    top: -150px;
}
#section-one, #section-two {
    width: 100%;
    .row {
        margin: 0;
        .container {
            position: relative;
            .fth-card-body {
                width: 100%;
                height: 600px;
                .row {
                    margin: 0;
                    height: 50%;
                    width: 100%;

                    #section_one-item-one, #section_one-item-two,
                    #section_one-item-three, #section_one-item-four,
                    #section_two-item-one, #section_two-item-two,
                    #section_two-item-three, #section_two-item-four,
                    #section_two-item-five, #section_two-item-six,
                    #section_two-item-seven, #section_two-item-eight {
                        height: 100%;
                    }
                    // TEXT SSECTION
                    #section_one-item-one, #section_one-item-four,
                    #section_two-item-one, #section_two-item-three,
                    #section_two-item-six, #section_two-item-eight {
                        padding: 10px;
                        padding-top: 30px;
                        background: white;
                        text-align: center;
                        position: relative;
                        h5 {
                            font-weight: bold;
                        }
                        span {
                            position: absolute;
                            transform: translate3d(-50%, 0px, 0px);
                            bottom: 20px;
                            font-size: 25px;
                            font-weight: bold;
                            color: $primary-color;
                        }

                    }
                    #section_one-item-one, #section_one-item-four {
                        padding: 20px;
                        h2, h3 {
                            font-family: "Great Vibes";
                        }
                        a {
                            margin-top: 25px;
                        }
                    }

                        // IMG SECTION 02
                    #section_one-item-three, #section_one-item-two,
                    #section_two-item-two, #section_two-item-four,
                    #section_two-item-five, #section_two-item-seven{
                        padding: 0;
                        background-size: cover;
                        background-position: center center;
                        overflow: hidden;
                    }
                    #section_one-item-two {
                        overflow: hidden;
                        padding: 0;
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}


